In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pylab
import matplotlib.pyplot as plt
from matplotlib.pylab import rcParams

In [2]:
pwd

'/Users/janhavi'

In [3]:
df = pd.read_csv('/Users/janhavi/Desktop/dataset.csv')
df.head(25)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.347723e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.806111e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.591951e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.132419e+01
4,Arab World,ARB,Aquaculture production (metric tons),ER.FSH.AQUA.MT,1960,4.600000e+03
5,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06
6,Arab World,ARB,Arms imports (SIPRI trend indicator values),MS.MIL.MPRT.KD,1960,5.410000e+08
7,Arab World,ARB,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,1960,4.779008e+01
8,Arab World,ARB,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,1960,2.207371e+01
9,Arab World,ARB,Capture fisheries production (metric tons),ER.FSH.CAPT.MT,1960,4.748800e+05
10,Arab World,ARB,"Claims on central government, etc. (% GDP)",FS.AST.CGOV.GD.ZS,1960,4.017059e-01
11,Arab World,ARB,CO2 emissions (kt),EN.ATM.CO2E.KT,1960,5.600530e+04
12,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1960,6.074476e-01
13,Arab World,ARB,CO2 emissions from gaseous fuel consumption (%...,EN.ATM.CO2E.GF.ZS,1960,5.363583e+00
14,Arab World,ARB,CO2 emissions from liquid fuel consumption (% ...,EN.ATM.CO2E.LF.ZS,1960,8.388302e+01
15,Arab World,ARB,CO2 emissions from liquid fuel consumption (kt),EN.ATM.CO2E.LF.KT,1960,4.703677e+04
16,Arab World,ARB,CO2 emissions from solid fuel consumption (% o...,EN.ATM.CO2E.SF.ZS,1960,5.029178e+00
17,Arab World,ARB,"Death rate, crude (per 1,000 people)",SP.DYN.CDRT.IN,1960,2.016536e+01
18,Arab World,ARB,Domestic credit to private sector by banks (% ...,FD.AST.PRVT.GD.ZS,1960,1.154837e+01
19,Arab World,ARB,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1960,6.977256e+00
20,Arab World,ARB,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,1960,1.927301e+00
21,Arab World,ARB,"International migrant stock, total",SM.POP.TOTL,1960,3.324685e+06
22,Arab World,ARB,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,1960,4.762956e+01
23,Arab World,ARB,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,1960,4.550474e+01
24,Arab World,ARB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,4.654691e+01

In [ ]:
df = df[~df['IndicatorName'].astype(str).str.startswith('A')]
df = df[~df['IndicatorName'].astype(str).str.startswith('B')]
df = df[~df['IndicatorName'].astype(str).str.startswith('Ca')]
df = df[~df['IndicatorName'].astype(str).str.startswith('Cla')]
df = df[~df['IndicatorName'].astype(str).str.startswith('D')]
df = df[~df['IndicatorName'].astype(str).str.startswith('F')]
df = df[~df['IndicatorName'].astype(str).str.startswith('G')]
df = df[~df['IndicatorName'].astype(str).str.startswith('H')]
df = df[~df['IndicatorName'].astype(str).str.startswith('I')]
df = df[~df['IndicatorName'].astype(str).str.startswith('L')]
df = df[~df['IndicatorName'].astype(str).str.startswith('M')]
df = df[~df['IndicatorName'].astype(str).str.startswith('N')]
df = df[~df['IndicatorName'].astype(str).str.startswith('P')]
df = df[~df['IndicatorName'].astype(str).str.startswith('R')]
df = df[~df['IndicatorName'].astype(str).str.startswith('S')]
df = df[~df['IndicatorName'].astype(str).str.startswith('T')]
df = df[~df['IndicatorName'].astype(str).str.startswith('U')]

In [ ]:
df.head(30)

In [15]:
search = 'CO'
series = df['IndicatorName'].str.startswith(search, na = False)
df[series]

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
11,Arab World,ARB,CO2 emissions (kt),EN.ATM.CO2E.KT,1960,56005.299798
12,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1960,0.607448
13,Arab World,ARB,CO2 emissions from gaseous fuel consumption (%...,EN.ATM.CO2E.GF.ZS,1960,5.363583
14,Arab World,ARB,CO2 emissions from liquid fuel consumption (% ...,EN.ATM.CO2E.LF.ZS,1960,83.883024
15,Arab World,ARB,CO2 emissions from liquid fuel consumption (kt),EN.ATM.CO2E.LF.KT,1960,47036.765029
...,...,...,...,...,...,...
7099664,Zimbabwe,ZWE,CO2 emissions from gaseous fuel consumption (kt),EN.ATM.CO2E.GF.KT,2016,0.000000
7099665,Zimbabwe,ZWE,CO2 emissions from liquid fuel consumption (% ...,EN.ATM.CO2E.LF.ZS,2016,28.814691
7099666,Zimbabwe,ZWE,CO2 emissions from liquid fuel consumption (kt),EN.ATM.CO2E.LF.KT,2016,3164.621000
7099667,Zimbabwe,ZWE,CO2 emissions from solid fuel consumption (% o...,EN.ATM.CO2E.SF.ZS,2016,64.373957
7099668,Zimbabwe,ZWE,CO2 emissions from solid fuel consumption (kt),EN.ATM.CO2E.SF.KT,2016,7069.976000